ul {
  margin: 20px 0 0 0;
  padding: 0;
}

.todo {
  display: flex;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
}

.listContainer {
  height: 40%;
  width: auto;
  overflow: auto;
}
